# Python conditions

In [1]:
L=48 #wheather a ractangle is square or not
B=32
if L==B:
    print('square')
else:
    print('not square')

not square

In [2]:
a=8   #print greatest value
b=4
c=13
if a>b:
    if a>c:
        Print(a)
if b>a:
    if b>c:
        print(b)
        
else:
    print(c)

13

In [3]:
P= 60     #wheather student allowed for exam. 
Total=80    
A=(60%80*100) 
if A>=75:
    print('allowed for exam')
    
else:
    Print('not allowed for exam')

allowed for exam

In [4]:
m=86   #grading system
if m>=25 and m<=44:
    print ('grade E')
elif m>=45 and m<=49:
    print ('grade D')
    
elif m>=50 and m<=59:
    print ('grade C')
elif m>=60 and m<=69:
    print ('grade B')
elif m>=70 and m<=89:
    print ('grade A')
elif m>=90:
    print ('grade A+')
else:
    print ('grade F')

grade A

# Loop Problem

In [5]:
rows= 4 #drawing number pattern using for loop
num= 7
for i in range(num,1,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    print('\r')

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2

In [6]:
i=7 #number pattern using while loop
while i>0:
    j=1
    while j<=i:
        print(j, end=' ')
        j+=1
    print('\r')
    i-=1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [7]:
for i in reversed(range(1,101,1)): #display numbers
    if i==9:
        break
    print(-i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

In [8]:
total=0  #sum of prime numbers 
for i in range(10, 1000):
    for j in range(10,i):
        if i%j==0:
            break
    else:
        if i%j!=0:
            total+=i
print('sum of prime numbers:', total)

sum of prime numbers: 76342

In [9]:
num=7    #to find the factorial of a number
factorial=1
if num<0:
    print('no factorial for negative number')
elif num==0:
    print('factorial of 0 is 1')
else:
    for i in range(1,num+1):
        factorial=factorial*i
print('the factorial of num is:',factorial)

the factorial of num is: 5040

In [10]:
i =27956240710 #reverse a given integer
reversed_i=0
while i!=0:
    j= i%10                           
    reversed_i= reversed_i*10+j      
    i//=10    
print('reversed number:'+str(reversed_i))

reversed number:1704265972

In [11]:
rows=4       #pattern using for loop
for i in range(0,rows):
    for j in range(0,i+1):
        print('#', end=' ')
    print('\r')

for i in range(rows,0,-1):
    for j in range(0,i-1):
        print('#', end=' ')
    print('\r')

#
# #
# # #
# # # #
# # #
# #
#

In [12]:
rows=4 #pattern using while loop
i=1
while i<rows:
    print('#'*i)
    i+=1
i=rows
while i>=1:
    print('#'*i)
    i-=1

#
##
###
####
###
##
#

In [13]:
num=int(input('enter any number:')) #finding Fibonacci sequence using for loop
n1,n2=0,1
sum=0
if num<=0:
    print('please enter positive integer')
else:
    for i in range(0,num):
        print(sum,end=' ')
        n1=n2
        n2=sum
        sum=n1+n2

enter any number:15
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [14]:
num=int(input('enter any number:')) #finding Fibonacci sequence using while loop
n1,n2=0,1
sum=0
count=1
if num<=0:
    print('please enter positive integer')
else:
    print('Fibonacci sequence:')
    while(count<num):
        print(n1)
        sum=n1+n2
        n1=n2
        n2=sum
        count+=1

enter any number:15
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233

# Python inbuilt Data Structure

In [15]:
Li=[1,3,5,[2,3],'True']

In [16]:
Li[3]= [3,3]

In [17]:
Li[4]= 'False'

In [18]:
Li     #remove, add and replace in a list

[1, 3, 5, [3, 3], 'False']

In [19]:
S1={1,4,6,8}
S2={'True', 1,2,10}

In [20]:
S1.intersection(S2)  #intersection of set

{1}

In [21]:
User_input= [1,9,3,4,5,200,54] #removing duplicate value from list
print('original list:'+str(User_input))
Set= list(set(User_input))
print('list after removing dulicates:'+str(User_input))

original list:[1, 9, 3, 4, 5, 200, 54]
list after removing dulicates:[1, 9, 3, 4, 5, 200, 54]

In [22]:
s1=set([1, 9, 3, 4, 5, 200, 54])

In [23]:
s1

{1, 3, 4, 5, 9, 54, 200}

In [24]:
print('Maximum value of set:') #finding maximum value in set
print(max(s1))

Maximum value of set:
200

In [25]:
Dict = {                       #rename a key
    'name': 'Shakil',
    'age':'27',
    'city':'Berlin',
    'Country':'Germany'
}

In [26]:
Dict['region']=Dict.pop('Country')
print(Dict)

{'name': 'Shakil', 'age': '27', 'city': 'Berlin', 'region': 'Germany'}

In [27]:
num=[10,100,300]

In [28]:
import pandas as pd

In [29]:
pd.DataFrame([10,100,300], columns=['num'])  #Data frame from list.

   num
0   10
1  100
2  300

In [30]:
Dict = {
    'name': 'Shakil',
    'age':'27',
    'city':'Berlin',
    'Country':'Germany'
}

In [31]:
Dict['age']=28

In [32]:
Dict    #change value of a key

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'Country': 'Germany'}